extends layout

block content
  h1= title
  p Welcome to #{title}

  each element in names
    button(type='button' class=' c-btn-blue c-btn-circle c-btn-uppercase' value="Read More" onclick='gotoBlog(' + element.id + ')') #{element.name}
