body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Start http://www.cursors-4u.com  * {cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec5.cur), auto !important;} /* End http://www.cursors-4u.com */
/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec11.cur), auto !important;} /* End http://www.cursors-4u.com */
a {
  color: #00B7FF;
}

body {
  background-color: #000000;
    background-image: url("../res/space.jpg");
    background-repeat: repeat;
}

html *
{
   color: #FFFF66 !important;
   font-family: "Comic Sans MS", cursive, sans-serif	 !important;   
}

h1 {
  text-align: middle;
}

p {
  text-align: middle;
}

button{
  font-size:20px;
  outline:2px solid #000000;
  background:#C0C0C0;
  border-width:1px;
  border-style:solid;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:4px 10px;
  margin:20px auto 3px;
  display:block;
  bottom:0px;
  left:0;
}

.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: lightyellow;
    pointer-events: none;

  }