body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
    background-image: url("../res/space.jpg");
    background-repeat: repeat;
}

html *
{
   color: #FFFF66 !important;
   font-family: "Comic Sans MS", cursive, sans-serif	 !important;   
}

h1 {
  text-align: middle;
}

p {
  text-align: middle;
}

.button {
  background-color: #666666; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}